body {
  background-color: #4c566a;
  color: #e5e9f0;
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}
.edit-form {
  max-width: 300px;
  margin: auto;
}
.navbar-brand {
  font-family: "Comic Code", serif;
  padding-left: 15px;
  color: #bf616a;
}

.btn2 {
  margin-top: 20px;
  background-color: #88c0d0;
  border-color: #88c0d0;
  color: #2e3440;
  border-radius: 6px;
}
.list-group-item {
  background-color: #88c0d0;
  color: #2e3440;
  font-family: "Comic Code", "Fantasque Sans Mono", sans-serif;
  font-weight: bold;
}
.badge {
  background-color: #88c0d0;
  color: #2e3440;
}